@charset "ISO-8859-1";
body{
	background-color: rgba(255, 255, 147, 0.5);
}
a{
	color: rgba(0, 0, 0, .9);
}
a:link{
	text-decoration: none;
}
a:hover{
	color: rgba(255, 99, 71, 1);
}
select{
	padding: 0.5rem;
	margin-bottom:5px;
	margin-top: 5px;
	width: 145px;
	height:40px;
	font-size: 15px;
	font-family:monospace;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	border: 2px solid #c0c0c0;
}
table, td, th {  
  border-bottom: .5px solid rgba(255, 99, 71, 0.4);
  text-align: center;
  font-family: monospace;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  padding: 5px;
  font-size: 17px;
}
td{
	padding: 5px;
	font-size: 17px;
}
.logo {
	width:28px; height:28px;
	float: left;
}
.split {
	height: 100%;
	width: 30%;
	position:fixed;
	z-index:1;
	overflow-x: hidden;
}
#myDIV{
	display: none;
}

.left {
	left: 0;
}

.right {
	right: 0;
	}
.header{
	overflow: hidden;
	padding: 8px 12px;
	background-color: rgba(255, 99, 71, 0.2);
	border-bottom: 1.5px solid rgba(255, 99, 71, 0.8);
	}
.header a  {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 17px;
	line-height: 8px;
	border-radius: 4px;
	font-family: monospace;
	}
	
.header label {
  font-size: 20px;
	font-weight: bold;
	font-family: monospace;
	text-align: center;
	float: left;
	line-height: 8px;
	padding: 12px;
}

.header a:hover {
  background-color: rgba(255, 100, 71, 0.7);
  color: black;
}

.header a.active {
  background-color: rgba(255, 100, 71, 0.7);
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 400px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

.Line{
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	width: 100%;
	margin-bottom: 20px;
	}
.menu{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	margin:12px;
	border: 1px solid rgba(0, 0, 0, .5);
	border-radius: 20px;
	height: 350px; width: 280px;
}
.menu img{
	position:absolute;
	z-index:0;
	opacity:.3;
	height: 280px; width: 280px;
}
.grad{
	background-image: linear-gradient(to top, rgba(0,0,0,.1), rgba(255,255,255,0));
	height: 350px; width: 280px;
	border-radius: 20px;
}
.menu:hover{
	background-image: linear-gradient(to top, rgba(0,0,0,.2), rgba(255,255,255,0));
	height: 350px; width: 280px;
	border-radius: 20px;
}
.menu-name{
	z-index:2;
	margin-top:92%;
	letter-spacing:3px;
	font-family: fantasy;
	font-size: 25px;
	margin-bottom: 3px;
	margin-left: 15px;
}
.menu-price{
	z-index:2;
	font-size: 18px;
	font-family: monospace;
	font-weight: bold;
	margin-left: 15px;
}
.menu-section{
	display: grid;
	grid-template-columns: auto auto auto;
	align-items: center;
	justify-content: center;
}
	
.table{
	padding: 5%;
	margin-top:20px;
	margin-bottom:0%;
	margin-left: 1%;
	margin-right: 2%;
	background-color: white;
	border: 1.5px dashed rgba(255, 99, 71, 0.8);
	border-radius: 20px;
	height:auto;
	width:auto;
}
.form{
	padding: 1%;
	background-color: white;
	margin-top:20px;
	margin-bottom:0%;
	margin-left: 0%;
	margin-right: 30%;
	border-radius: 20px;
	height:auto;
	width:auto;
	border: 1.5px dashed rgba(255, 99, 71, 0.8);
}
.formhead{
	display: flex;
	flex-direction:column;
	align-items: center;
	font-size: 20px;
	padding-bottom: 12px;
	font-family:monospace;
	font: bold;
}
.formbottom{
	display:flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
}
.menubottom{
	display:flex;
	flex-direction:row;
	justify-content: flex-start;
	align-items: center;
}
.total{
	display: flex;
	flex-direction:column;
	font-size: 18px;
	align-items:center;
	font-family:monospace;
	font-style:normal;
}
.lable {
	font-size: 16px;
	padding: 10px;
	font-family:monospace;
}
.opac{
	opacity: 70%;
	font-family: monospace;
	font-size: 14px;
	align-items: center;
}
.input{
	display:flex;
	flex-direction:column;
	padding: 0.6rem;
	margin-top: 5px;
	border: 2px solid #c0c0c0;
	border-radius: 5px;
	width: 325px;
}
.items{
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
}
.qty{
	border-radius: 100%;
	width:25px;height:25px;
	border: .11px solid rgba(0,0,0,.5);
	background-color:  rgba(255,255,255,1);
}
.qty:hover{
	border: .11px solid rgba(255,0,0,1);
}
.add-btn{
	z-index:2;
	background-color: rgba(180, 235, 52,1);
	border: 1px solid;
	border-radius: 40px;
	width: 120px; height:40px;
	font-size: 17px;
	font-weight:bold;
	font-family: monospace;
	margin-left: 40px;
	margin-right: 5px;
}
.add-btn:hover{
	background-color: rgba(180, 235, 52,1);
}
.delete-btn{
	z-index:1;
	background-color: rgba(255, 99, 71, 0.5);
	border: 1px solid;
	border-radius: 40px;
	width: 40px; height:40px;
	font-size: 30px;
	font-family: monospace;
}
.delete-btn:hover{
	background-color: rgba(255, 0, 0, 0.7);
}
.button{
	background-color: rgba(255, 99, 71, 0.4);
	padding: 6px;
	border: 2.5px solid;
	border-radius: 5px;
	width: 180px;
	margin: 10px;
	font-size: 15px;
	font-family: monospace;
}
.button:hover{
	background-color: rgba(255, 100, 71, 0.7);
}
.confirmBtn{
	background-color: rgba(180, 235, 52,.7);
	padding: 6px;
	border: 2.5px solid;
	border-radius: 5px;
	width: 145px;
	margin: 10px;
	font-size: 15px;
	font-family: monospace;
}
.confirmBtn:hover {
	background-color: rgba(180, 235, 52,1);
}
.cancelBtn{
	background-color: rgba(255, 99, 71, 0.4);
	padding: 6px;
	border: 2.5px solid;
	border-radius: 5px;
	width: auto;
	margin: 0px;
	font-size: 15px;
	font-family: monospace;
}
.cancelBtn:hover {
	background-color: rgba(255, 100, 71, 0.7);
}